:root {
  --primary-color: #007bff;
  --secondary-color: #9aa0a6;
  --background-color: #f8f9fa;
  --text-color: #3ca89f;
  --border-color: #dee2e6;
  --button-hover-color: #0056b3;
  --error-color: #dc3545;
  --input-height: 40px;
  --input-width: 100%;
  --border-radius: 4px;
  --navbar-background-color: #ffffff;
  --navbar-link-color: #007bff;
  --navbar-link-hover-color: #0056b3;
  --navbar-height: 70px;
  --logo-color: #007bff;
  --background-image: url('/images/extended_height_background..png');
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0)), var(--background-image) no-repeat center center fixed;
  background-size: cover;
  color: var(--text-color);

}