.input {
  border-radius: 25px;
  background: var(--background-color-secondary);
  height: 48px;
}
.inputTextArea {
  border-radius: 25px;
  background: var(--background-color-secondary);
}

.label {
  line-height: 18px;
  font-size: 15px;
}
